@font-face {
  font-family: Inter;
  src: url("../assets/Inter-VariableFont_slnt,wght.ttf");
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-logo {
  position: relative;
  width: 200px;
  margin-top: 50px;
}

.edit-form {
  background-color: #ffffff;
  border-radius: 8px;
  width: 300px;
}

.text-label {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 350;
  line-height: 18px;
  text-align: left;
  margin-bottom: 5px;
}

.placeholder-text {
  font-family: Inter, sans-serif;
  color: #c1c1c1;
  font-size: 15px;
  font-weight: 350;
  line-height: 18px;
  text-align: left;
}

.form-input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid lightgrey;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.side-inputs {
  display: flex;
  gap: 10px;
}

.form-input-left-half {
  border: 0;
  border-bottom: 2px solid lightgrey;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: calc(50% - 5px);
}

.form-input-right-half {
  border: 0;
  border-bottom: 2px solid lightgrey;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
  width: calc(50% - 5px);
}

.edit-form input:focus {
  border-bottom: 2px solid blue;
  outline: none;
}

.vertical-input-container {
  display: flex;
  flex-direction: column;
}

.save-button {
  border-radius: 10px;
  width: 70px;
  height: 30px;
  align-items: center;
  background: #c1c1c1;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
}

.cancel-button {
  border-radius: 10px;
  width: 70px;
  height: 30px;
  align-items: center;
  background: white;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #c1c1c1;
  text-align: center;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  margin-left: 10px;
}

.buttons-container {
  margin-top: 15px;
}

.error-message {
  margin: 0;
  font-size: 10px;
}
