/* ForgotPassword.css */

@font-face {
  font-family: Raleway;
  src: url("../assets/Inter-VariableFont_slnt,wght.ttf");
}

.forgot-logo-image {
  position: absolute;
  width: 230px;
  margin-top: 60px;
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-container .heading {
  font-family: Inter, sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-top: 270px;
}
.forgot-password-form {
  background-color: #ffffff;
  border-radius: 8px;
  width: 300px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.forgot-password-container .signup-container {
  margin-top: 150px;
  text-align: center;
}
.input-container .info-text
{
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #6D6D6D;
  margin-bottom: 40px;
}
.forgot-password-form .user-input {
  width: 90%;
  border: 0;
  border-bottom: 2px solid lightgrey;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px
}

.forgot-password-form input:focus{
  border-bottom: 2px solid blue;
  outline: none;
}

.input-container {
  text-align: center;
  margin-bottom: 15px;
}

.forgot-password-container .link {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #6d6d6d;
  text-decoration: none;
  text-align: center;
}

.link:hover{
  text-decoration: underline;
}
.text {
  font-size: 16px;
  margin: 0 10px;
  color: #6d6d6d;
}

.forgot-password-container .reset-button {
  margin-top: 30px;
  border-radius: 30px;
  width: 210px;
  height: 35px;
  align-items: center;
  background: #d9d9d9;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border: none;
  cursor: pointer;
}

@media (max-width: 400px) {
  .forgot-password-form {
    width: 70%;
  }
  .forgot-password-form .reset-button {
    width: 70%;
  }
}

@media (max-height: 750px) {
  .forgot-logo-image {
    display: none;
  }

  .forgot-password-container .heading  {
    margin-top: 100px;
  }
}
