
@font-face {
    font-family: Raleway;
    src: url("../assets/Inter-VariableFont_slnt,wght.ttf");
}

.Success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.h1-custom {
    margin-top: 60px;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: #004A7C;
}

.h2-custom{
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #6d6d6d;
    text-align: center;
}

.link-bold {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #004A7C;
    text-align: center;
    text-decoration: underline;
}