.add-modal .MuiAutocomplete-input {
  border-radius: 10px;
  position: relative;
  background-color: white;
  border: 1px solid #a4a4a4;
  font-size: 16px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.add-modal .MuiInputBase-input {
  border-radius: 10px;
  position: relative;
  background-color: white;
  border: 1px solid #a4a4a4;
  font-size: 16px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root.Mui-disabled:before {
  border-bottom: none;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
  border-bottom: none;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border-bottom: none;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1h51icj-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot {
  padding-right: 0;
}
.MuiAutocomplete-hasPopupIcon.css-1h51icj-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon.css-1h51icj-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot {
  padding-right: 0;
}
.css-1h51icj-MuiAutocomplete-root .MuiInput-root {
  padding-bottom: 0;
}

.css-953pxc-MuiInputBase-root-MuiInput-root::after {
  border-bottom: none;
}

.css-953pxc-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none;
}

.css-953pxc-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border-bottom: none;
}

.MuiAutocomplete-hasPopupIcon.css-55cpma-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon.css-55cpma-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot {
  padding-right: 0;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.MuiAutocomplete-root
  .MuiAutocomplete-inputRoot {
  padding-right: 0;
}

.MuiAutocomplete-root .MuiInput-root .MuiInput-input {
  padding: 4px 50px 4px 10px;
}

.add-modal .date-picker .MuiInputBase-input {
  height: 8px;
  padding: 20px 26px 24px 12px;
}

.add-modal .add-item-icon {
  width: 15px;
}

.add-modal .delete-item-icon {
  width: 15px;
}

.add-modal .submit-button {
  width: 120px;
  height: 30px;
  align-items: center;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 300;
  background-color: #a4a4a4;
  text-align: center;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 15px;
}

.add-modal .css-1ae42j0 {
  min-width: 150px;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding: 4px 4px 4px 6px;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.6);
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input.Mui-disabled {
  -webkit-text-fill-color: black;
}
