.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .logo-image {
  margin-top: 60px;
}

.animal-image {
  position: absolute; 
  bottom: 0; 
}

.login-container .heading {
  margin-top: 100px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--mtmNavy);
}

.login-form-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 300px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.signup-container {
  margin-top: 0;
  text-align: right;
}

.login-form-container .user-input {
  border-radius: 40px;
  width: 100%;
  height: 35px;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-indent: 15px;
  border-width: 1px;
}

.input-container {
  text-align: center;
  margin-bottom: 15px;
}

.link {
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #6d6d6d;
  text-decoration: none;
  text-align: left;
}

.link-bold {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #6d6d6d;
  text-decoration: none;
  text-align: center;
  margin-top: 40px;
}

.line-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.horizontal-line {
  flex: 1;
  height: 2px;
  background-color: #6d6d6d;
  width: 70px;
}

.socials-container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.socials-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-buttons-container button {
  margin-left: 10px;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.text {
  font-size: 16px;
  margin: 0 10px;
  color: #6d6d6d;
}

.login-container .login-button {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 210px;
  height: 43px;
  align-items: center;
  background: var(--mtmNavy);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  border: none;
  cursor: pointer;
}

@media (max-height: 750px) {
  .animal-image {
    display: none;
  }
}

@media (max-width: 400px) {
  .logo-image {
    width: 70%;
  }

  .login-form-container {
    width: 70%;
  }

  .login-container .login-button {
    width: 70%;
  }
}
