@media screen and (max-width: 767px) {
  .container {
    height: 50%;
    width: 70%;
    min-height: 360px;
  }
}

@media screen and (min-width: 768px) {
  .page {
    height: 97vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 70%;
    height: 70%;
    display: flex;
    min-height: 400px;
  }
}
.inputsWrapper {
  height: fit-content;
  width: 65%;
}

.inputBlock {
  margin-bottom: 12px;
}
