.popup {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45%;
  width: 70%;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.popup img {
  margin-top: 60px;
  margin-bottom: 30px;
}

.popup .heading {
  font-size: 23px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  color: var(--mtmNavy);
}

.popup .instructions-text {
  font-family: Raleway, sans-serif;
  color: var(--mtmNavy); 
  font-size: 15px;
  margin-bottom: 90px;
}
