.BottomNavbar {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 50px;
    border-top: 1px solid #D9D9D9;
}

.TopBar {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 50px;
}